<!--<ngt-object3D-->
<!--	[castShadow]="true"-->
<!--	[receiveShadow]="true"-->
<!--	[scale]="0.25"-->
<!--	[position]="[0, world.planeDefaultHeight, 0]"-->
<!--	[ref]="refs.airplaneRef"-->
<!--	(beforeRender)="onAirplaneBeforeRender($event)"-->
<!--&gt;-->
<!--	&lt;!&ndash; cabin &ndash;&gt;-->
<!--	<ngt-mesh [castShadow]="true" [receiveShadow]="true">-->
<!--		<ngt-buffer-geometry>-->
<!--			<ngt-buffer-attribute attach="attributes.position" *args="[cabinVertices, 3]" />-->
<!--		</ngt-buffer-geometry>-->
<!--		<ngt-mesh-phong-material [color]="Colors.red" [flatShading]="true" [side]="DoubleSide" />-->
<!--	</ngt-mesh>-->

<!--	&lt;!&ndash; engine &ndash;&gt;-->
<!--	<ngt-mesh [position]="[50, 0, 0]" [castShadow]="true" [receiveShadow]="true">-->
<!--		<ngt-box-geometry *args="[20, 50, 50]" />-->
<!--		<ngt-mesh-phong-material [color]="Colors.white" [flatShading]="true" />-->
<!--	</ngt-mesh>-->

<!--	&lt;!&ndash; tail plane &ndash;&gt;-->
<!--	<ngt-mesh [position]="[-40, 20, 0]" [castShadow]="true" [receiveShadow]="true">-->
<!--		<ngt-box-geometry *args="[15, 20, 5]" />-->
<!--		<ngt-mesh-phong-material [color]="Colors.red" [flatShading]="true" />-->
<!--	</ngt-mesh>-->

<!--	&lt;!&ndash; side wing &ndash;&gt;-->
<!--	<ngt-mesh [position]="[0, 15, 0]" [castShadow]="true" [receiveShadow]="true">-->
<!--		<ngt-box-geometry *args="[30, 5, 120]" />-->
<!--		<ngt-mesh-phong-material [color]="Colors.red" [flatShading]="true" />-->
<!--	</ngt-mesh>-->

<!--	&lt;!&ndash; windshield &ndash;&gt;-->
<!--	<ngt-mesh [position]="[20, 27, 0]" [castShadow]="true" [receiveShadow]="true">-->
<!--		<ngt-box-geometry *args="[3, 15, 20]" />-->
<!--		<ngt-mesh-phong-material [color]="Colors.white" [transparent]="true" [opacity]="0.3" [flatShading]="true" />-->
<!--	</ngt-mesh>-->

<!--	&lt;!&ndash; propeller &ndash;&gt;-->
<!--	<app-propeller />-->

<!--	&lt;!&ndash; wheels &ndash;&gt;-->
<!--	<app-wheel [position]="[25, -20, 25]" />-->
<!--	<app-tire [position]="[25, -28, 25]" />-->
<!--	<app-wheel [position]="[25, -20, -25]" />-->
<!--	<app-tire [position]="[25, -28, -25]" />-->
<!--	<app-tire [position]="[-35, -5, 0]" [scale]="0.5" />-->

<!--	&lt;!&ndash; suspension &ndash;&gt;-->
<!--	<ngt-mesh [position]="[-35, -5, 0]" [rotation]="[0, 0, -0.3]">-->
<!--		<ngt-box-geometry #suspensionGeometry *args="[4, 20, 4]" />-->
<!--		<ngt-mesh-phong-material [color]="Colors.red" [flatShading]="true" />-->
<!--	</ngt-mesh>-->

<!--	&lt;!&ndash; pilot &ndash;&gt;-->
<!--	<app-pilot [position]="[5, 27, 0]" />-->
<!--</ngt-object3D>-->
