# Add files here to ignore them from prettier formatting
/dist
/coverage
.angular
pnpm-lock.yaml
CHANGELOG.md
libs/soba/.storybook/public/**/*.js
apps/sandbox/src/assets/**/*.js
apps/examples/src/assets/**/*.js

/.nx/cache
/.nx/workspace-data