<!--<ngt-hemisphere-light *args="['#aaaaaa', '#000000', 0.9]" />-->
<!--<ngt-ambient-light *args="['#dc8874', 0.5]" [intensity]="Math.PI" />-->
<!--<ngt-directional-light *args="['#ffffff', 0.9]" [position]="[150, 350, 350]" [castShadow]="true" [intensity]="Math.PI">-->
<!--	<ngt-value [rawValue]="-400" attach="shadow.camera.left" />-->
<!--	<ngt-value [rawValue]="400" attach="shadow.camera.right" />-->
<!--	<ngt-value [rawValue]="400" attach="shadow.camera.top" />-->
<!--	<ngt-value [rawValue]="-400" attach="shadow.camera.bottom" />-->
<!--	<ngt-value [rawValue]="1" attach="shadow.camera.near" />-->
<!--	<ngt-value [rawValue]="1000" attach="shadow.camera.far" />-->
<!--	<ngt-vector2 *args="[4096, 4096]" attach="shadow.mapSize" />-->
<!--</ngt-directional-light>-->
