<!--<ngt-object3D [position]="position">-->
<!--	&lt;!&ndash; body &ndash;&gt;-->
<!--	<ngt-mesh [position]="[2, -12, 0]">-->
<!--		<ngt-box-geometry *args="[15, 15, 15]" />-->
<!--		<ngt-mesh-phong-material [color]="Colors.brown" [flatShading]="true" />-->
<!--	</ngt-mesh>-->

<!--	&lt;!&ndash; face &ndash;&gt;-->
<!--	<ngt-mesh-lambert-material #pinkMaterial [color]="Colors.pink" attach="none" />-->
<!--	<ngt-mesh [material]="pinkMaterial">-->
<!--		<ngt-box-geometry *args="[10, 10, 10]" />-->
<!--	</ngt-mesh>-->

<!--	&lt;!&ndash; hair/glass &ndash;&gt;-->
<!--	<ngt-mesh-lambert-material #brownMaterial [color]="Colors.brown" attach="none" />-->

<!--	<ngt-object3D [position]="[-5, 5, 0]">-->
<!--		&lt;!&ndash; top &ndash;&gt;-->
<!--		<ngt-object3D (beforeRender)="onHairsBeforeRender($event)">-->
<!--			<ngt-mesh-->
<!--				*ngFor="let i; repeat: 12"-->
<!--				[position]="[-4 + Math.floor(i / 3) * 4, 0, -4 + (i % 3) * 4]"-->
<!--				[material]="brownMaterial"-->
<!--			>-->
<!--				<ngt-box-geometry *args="[4, 4, 4]" (afterAttach)="onAfterHairAttach($event)" />-->
<!--			</ngt-mesh>-->
<!--		</ngt-object3D>-->

<!--		&lt;!&ndash; side R &ndash;&gt;-->
<!--		<ngt-mesh [material]="brownMaterial" [position]="[8, -2, 6]">-->
<!--			<ngt-box-geometry *args="[12, 4, 2]" (afterAttach)="onAfterSideAttach($event)" />-->
<!--		</ngt-mesh>-->

<!--		&lt;!&ndash; side L &ndash;&gt;-->
<!--		<ngt-mesh [material]="brownMaterial" [position]="[8, -2, -6]">-->
<!--			<ngt-box-geometry *args="[12, 4, 2]" (afterAttach)="onAfterSideAttach($event)" />-->
<!--		</ngt-mesh>-->

<!--		&lt;!&ndash; back &ndash;&gt;-->
<!--		<ngt-mesh [material]="brownMaterial" [position]="[-1, -4, 0]">-->
<!--			<ngt-box-geometry *args="[2, 8, 10]" />-->
<!--		</ngt-mesh>-->
<!--	</ngt-object3D>-->

<!--	&lt;!&ndash; glass R &ndash;&gt;-->
<!--	<ngt-mesh [material]="brownMaterial" [position]="[6, 0, 3]">-->
<!--		<ngt-box-geometry *args="[5, 5, 5]" />-->
<!--	</ngt-mesh>-->

<!--	&lt;!&ndash; glass L &ndash;&gt;-->
<!--	<ngt-mesh [material]="brownMaterial" [position]="[6, 0, -3]">-->
<!--		<ngt-box-geometry *args="[5, 5, 5]" />-->
<!--	</ngt-mesh>-->

<!--	&lt;!&ndash; glass A &ndash;&gt;-->
<!--	<ngt-mesh [material]="brownMaterial">-->
<!--		<ngt-box-geometry *args="[11, 1, 11]" />-->
<!--	</ngt-mesh>-->

<!--	&lt;!&ndash; ear R &ndash;&gt;-->
<!--	<ngt-mesh [material]="pinkMaterial" [position]="[0, 0, 6]">-->
<!--		<ngt-box-geometry *args="[2, 3, 2]" />-->
<!--	</ngt-mesh>-->

<!--	&lt;!&ndash; ear L &ndash;&gt;-->
<!--	<ngt-mesh [material]="pinkMaterial" [position]="[0, 0, -6]">-->
<!--		<ngt-box-geometry *args="[2, 3, 2]" />-->
<!--	</ngt-mesh>-->
<!--</ngt-object3D>-->
