<!--<ngt-mesh-->
<!--	[castShadow]="true"-->
<!--	[receiveShadow]="true"-->
<!--	[position]="[60, 0, 0]"-->
<!--	(beforeRender)="onPropellerBeforeRender($event)"-->
<!--&gt;-->
<!--	<ngt-box-geometry #propellerGeometry *args="[20, 10, 10]" />-->
<!--	<ngt-mesh-phong-material [color]="Colors.brown" [flatShading]="true" />-->

<!--	<ngt-box-geometry *args="[1, 80, 10]" [ref]="bladeGeometryRef" attach="none" />-->
<!--	<ngt-mesh-phong-material #bladeMaterial [color]="Colors.brownDark" [flatShading]="true" attach="none" />-->

<!--	&lt;!&ndash; blade 1 &ndash;&gt;-->
<!--	<ngt-mesh-->
<!--		[position]="[8, 0, 0]"-->
<!--		[castShadow]="true"-->
<!--		[receiveShadow]="true"-->
<!--		[material]="bladeMaterial"-->
<!--		[geometry]="bladeGeometryRef.nativeElement"-->
<!--	/>-->

<!--	&lt;!&ndash; blade 2 &ndash;&gt;-->
<!--	<ngt-mesh-->
<!--		[position]="[8, 0, 0]"-->
<!--		[rotation]="[Math.PI / 2, 0, 0]"-->
<!--		[castShadow]="true"-->
<!--		[receiveShadow]="true"-->
<!--		[material]="bladeMaterial"-->
<!--		[geometry]="bladeGeometryRef.nativeElement"-->
<!--	/>-->
<!--</ngt-mesh>-->
