<!-- Top-level elements with "attach" will get attached to the root THREE.Scene  -->
<!-- Here, the Fog will get attached to scene.fog -->
<ngt-fog attach="fog" *args="['#000', 1, 2.5]" />

<ngt-ambient-light [intensity]="Math.PI" />

<ngt-spot-light
	color="#d53c3d"
	[position]="[0.5, 0.75, 2.2]"
	[intensity]="20"
	[distance]="25"
	[angle]="Math.PI * 0.1"
	[penumbra]="0.25"
	[decay]="10"
>
	<ngt-vector3 *args="[-0.25, 0.25, 0.25]" attach="target.position" />
</ngt-spot-light>

<ngt-spot-light
	color="#d53c3d"
	[position]="[-0.5, 0.75, 2.2]"
	[intensity]="20"
	[distance]="25"
	[angle]="Math.PI * 0.1"
	[penumbra]="0.25"
	[decay]="10"
>
	<ngt-vector3 *args="[0.25, 0.25, 0.25]" attach="target.position" />
</ngt-spot-light>

<!-- Good ol' ngIf-as trick to delay rendering of the whole block. -->
<!-- We don't want to render anything until the textures are loaded  -->
@if (textures(); as textures) {
	<!-- We use geometryRef for geometry because *args structural directive wraps ngt-plane-geometry -->
	<!-- A simple Template Variable "#geometry" won't work. -->
	<ngt-plane-geometry *args="[1, 2, 24, 24]" [ref]="geometryRef" />

	<!-- For material (or any element that doesn't have a structural directive attached to them) -->
	<!-- we can use Template Variable to get a hold of that element instance -->
	<ngt-mesh-standard-material
		#material
		[map]="textures.grid"
		[displacementMap]="textures.displacement"
		[displacementScale]="0.5"
		[metalnessMap]="textures.metalness"
		[metalness]="1"
		[roughness]="0.5"
	/>

	<!-- With access to geometry and material, we can reuse them -->
	<ngt-mesh
		#frontPlane
		[rotation]="[-Math.PI / 2, 0, 0]"
		[position]="[0, 0, 0.15]"
		[geometry]="geometryRef.nativeElement"
		[material]="material"
	/>

	<ngt-mesh
		#backPlane
		[rotation]="[-Math.PI / 2, 0, 0]"
		[position]="[0, 0, -1.85]"
		[geometry]="geometryRef.nativeElement"
		[material]="material"
	/>
}

<ngt-effect-composer *args="[gl()]" [ref]="composerRef">
	<ngt-render-pass *args="[scene(), camera()]" [attach]="passAttach" />
	<ngt-effect-pass *args="effectPassArgs()" [attach]="passAttach" />
</ngt-effect-composer>

<ngts-orbit-controls
	[maxPolarAngle]="Math.PI / 2.1"
	[minPolarAngle]="Math.PI / 3"
	[minAzimuthAngle]="-Math.PI / 2"
	[maxAzimuthAngle]="Math.PI / 2"
/>
