<!--<ngt-object3D (afterAttach)="afterAttach.emit($event.node)" (beforeRender)="onCloudBeforeRender($event)">-->
<!--	<ngt-box-geometry *args="[20, 20, 20]" [ref]="cloudGeometryRef" attach="none" />-->
<!--	<ngt-mesh-phong-material #material [color]="Colors.white" attach="none" />-->

<!--	<ngt-mesh-->
<!--		*ngFor="let i; repeat: count"-->
<!--		[geometry]="cloudGeometryRef.nativeElement"-->
<!--		[material]="material"-->
<!--		[castShadow]="true"-->
<!--		[receiveShadow]="true"-->
<!--		(afterAttach)="onAfterMeshAttach($event, i)"-->
<!--	/>-->
<!--</ngt-object3D>-->
